@media screen and (max-width: 600px) {
  .aside {
    left: 0;
    top: var(--headline-height);
    width: 100%;
  }

  .aside.collapse {
    left: -100%;
  }

  .main {
    left: 0;
    padding: 20px 35px;
  }

  .section-header {
    padding: 15px;
  }

  .option {
    margin: 18px 0;
  }

  .option input[type=text],
  .option select {
    padding: 8px;
  }

  .load-modal {
    width: 90%;
    max-height: 70%;
    padding: 40px 0;
    background: #111;
  }

  .close-modal {
    top: 13px;
    right: 13px;
    width: 18px;
    height: 18px;
  }

  .mobile-view-toggle {
    display: initial;
  }
  
  .headline {
    left: 0;
  }
}